.vda-table .el-table {
    background-color: rgba(0, 0, 0, 0);
    color: #fefefe;
  }
  .vda-table .el-table--group,
  .vda-table .el-table--border {
    border: 1px solid #25498a;
    border-bottom: none;
  }
  .vda-table .el-table--group::after,
  .vda-table .el-table--border::after,
  .vda-table .el-table::before {
    background-color: transparent;
  }
  .vda-table .el-table__fixed::before,
  .vda-table .el-table__fixed-right::before {
    background-color: rgba(0, 0, 0, 0);
  }
  .vda-table .el-table--scrollable-x .el-table__body-wrapper {
    overflow-x: hidden;
  }
  .vda-table .el-table th {
    color: #90c4ff;
    background-color: rgba(0, 60, 150, 0.3);
  }
  .vda-table .el-table tr {
    background-color: rgba(0, 0, 0, 0);
  }
  .vda-table .el-table th.is-leaf,
  .vda-table .el-table td {
    border-bottom: 1px solid #25498a;
  }
  .vda-table .el-table--border th,
  .vda-table .el-table--border td {
    border-right: none;
  }
  .vda-table .el-table__body tr.hover-row > td,
  .vda-table .el-table__body tr.hover-row.current-row > td,
  .vda-table .el-table__body tr.hover-row.el-table__row--striped > td,
  .vda-table .el-table__body tr.hover-row.el-table__row--striped.current-row > td {
    background-color: rgba(0, 60, 150, 0.3);
  }
/*屏幕适配方案*/
html {
    font-size: 14px;
}

@media (min-width: 320px) {
    html {
        font-size: 10px;
    }
}
.text-red{
    color:green;
}

body{
    margin:0;
}
.s_m_panel{
    background:white;
    box-shadow:0 0 1px 1px lightgray;
    width:93.6%; 
    left:3.2%;
    position:relative;
    border-radius:.8rem;
}

.s_m_bg{
    background-color:#EBEFF5;
}

.hline{
    border-top:1px solid lightgray;
    height:0;
}

.vline{
    border-left:1px solid lightgray;
    width:0;
}

.title1{
    font-size:2.4rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(82,88,102,1);
    text-align:center;
}
.title2{
    font-size:2.8rem;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(10,15,26,1);
    line-height:28px;
}
.value1{
    font-size:4rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(10,15,26,1);
    text-align:center;
}
.unit1{
    font-size:2.4rem;
font-family:PingFang SC;
font-weight:400;
color:rgba(10,15,26,1);
}
.pageName{
    font-size:3.2rem;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:2.8rem;
    text-align:center;
}
.filter_text{
    font-size:2rem;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(50,128,255,1);
}
