.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
package-lock.json
runtime/v2sual/@aweb-template/vue-spa.common.js
runtime/v2sual/@aweb-template/vue-spa.umd.js
runtime/v2sual/@aweb-template/vue-spa.umd.min.js
runtime/src/views/RateTest2.vue.def
runtime/src/views/RateTest.vue
runtime/src/views/RateTest.vue.def
runtime/src/views/RateTest1.vue
runtime/src/views/RateTest1.vue.def
runtime/src/views/RateTest2.vue
runtime/src/views/RateTest.vue
runtime/src/views/**/*.vue
runtime/src/views/**/*.def
