/* 考虑用before/after */
.selected {
  background: lightblue;
  border: 1px solid black;
}
.transparent{
  opacity: .8;
}

.dropable{
  background-color:lightpink;
  border: 1px solid darkorange;
}

.dropable:hover{
  background-color:lightcyan;
}