
/* 考虑用before/after */
.selected {
  box-shadow: 0px 0px 3px darkgray;
}
.unselected{
  opacity: .5;
}
.transparent {
  opacity: .8;
}


.dropable {
  background-color: lightpink;
  border: 1px solid darkorange;
}

.dropable:hover {
  background-color: lightcyan;
}


.selectedContainer {
  box-shadow: 1px 1px 3px darkgray;
}

.V2Empty{
  position:relative;
}
.V2Empty::before {
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  left: 2px;
  top: 2px;
  opacity: .5;
  position: absolute;
  background: lightgreen;
}


