@import "../common/var.scss";

.eb-paragraph {
  padding: 10px;

  .eb-paragraph__header {
    position: relative;
    min-height: 30px;
    line-height: 30px;
    // font-size: 12px;
    font-weight: bold;

    p {
      position: absolute;
      padding-right: 10px;
      background: #fff;
    }
  }
  .eb-paragraph__header--divider::before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #eee;
    position: absolute;
    left: 0;
    top: 50%;
  }
  .eb-paragraph__ctt {
    line-height: 20px;
    font-size: 12px;

  }
  .eb-paragraph__ctt--indent p {
    text-indent: 2em;
  }
}
