
@import "../common/var.scss";

.eb-shortcut {
  margin: 10px;
  min-width: 50px;
  max-width: 200px;
  text-align: center;
  cursor: pointer;

  .eb-shortcut__icon-icon {
    color: $eb--color-dark-blue;
    font-size: 20px;
    // line-height: 30px;
  }
  .eb-shortcut__icon-img {
    height: 20px;

    img{
      width: 20px;
    }
  }
  .eb-shortcut__icon {
    &.eb-shortcut__icon--left {
      float: left;
    }
    &.eb-shortcut__icon--right {
      float: right;
    }
  }
  .eb-shortcut__name {
    line-height: 20px;
    font-size: 12px;
    color: $eb--color-dark-grey;
  }
  .eb-shortcut-normal {
    // 
  }
  .eb-shortcut-small {
    // 
  }
}

.eb-shortcut-mini {
  // 
}
