body{
    margin: 0;
    padding: 0;
}
.vdaText{
    color:rgb(233,206,177);
    font-size:40px;
}

.s_m_panel{
    background:white;
    box-shadow:0 0 1px 1px lightgray;
    width:93.6%;
    left:3.2%;
    position:relative;
}
