
/**
 * 网银项目全局公共样式
 */

* {
  font-size: 12px;
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.aweb-main {
  padding: 20px 30px;
}

.eb-grid {
  margin: 10px;
}
.eb-grid--radius {
  border-radius: 5px;
}
.eb-grid--blue {
  border: 1px solid #9fd6ff;
}
.eb-grid--green {
  border: 1px solid #97e490;
}
