body {
  margin: 0;
  padding: 0;
}

// 'v2left'|'v2mid'|'v2right','v2top'|'v2center'|'v2bottom'
.must-input {
  color: #f56c6c;
  margin-right: 4px;
}



.v2left {
  float: left;
}

.v2mid {
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  /* width: 100%; */
}

.v2right {
  float: right;
  right: 0;
}

.v2top {}

.v2center {
  top: 50%;
  transform: translateY(-50%);
  /* display: block; */
  position: relative;
}

.v2bottom {
  position: absolute !important;
  bottom: 0;
}


.v2-form-ctt.V2Widget {
  // margin: 10px;
}

.V2Widget {
  // height: 100%;
}

/**
 * 网银项目全局公共样式
 */
.V2ContainerBlock .el-col {
  // margin: 5px;
  // // border: 1px solid #7EABFA;
  // border: 1px solid #A4C6FF;
  // border-radius: 5px;
}
/**
 * 网银项目自定义组件样式
 * 命名规则采用 BEM(block__element--modifier)
 */

// 图标快捷键
.shortcut {}
.shortcut__icon {
  text-align: center;
  color: #455ECB;
  font-size: 24px;
}
.shortcut__text {
  text-align: center;
  font-size: 12px;
}

// 段落
.article {}
.article__header {
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
}
.article__content {
  font-size: 12px;
}

// 银行卡
.bankcard {

}

.bankcard--type-01 {
  position: relative;
  padding: 10px;
  width: 260px;
  height: 185px!important;
  border-radius: 10px;
  text-align: center;

  .bankcard__img {
    height: 100%;
    border-radius: 10px;
    // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  .bankcard__figure {
    position: absolute;
    left: 0;
    margin-top: 25px;
    margin-left: -120px;
    padding: 10px;
    height: 40px;
    line-height: 20px;
    width: 150px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    font-size: 13px;
    color: #fff;

    .text-value-row i, .text-value-row span {
      flex: 2;
    }
    .text-value-row i, .text-value-row p {
      flex: 3;
    }

    .bankcard__figure_opr i {
      line-height: 40px;
    }

    &.unfold {
      left: 50%;
      margin-left: -85px;
    }
  }
  .bankcard__cardid {
    font-size: 18px;
    color: #fff;
    text-shadow: 1px -1px 3px #333;
  }
  .bankcard__name {
    // text-align: center;
    line-height: 50px;
  }
  .bankcard__btn {
    display: none;
    // background: #00ff00;
    // text-align: center;
    padding: 5px 8px;
  }
  .bankcard__infos {
    width: 260px;
    margin: 10px;
    overflow: hidden;
  }

  &:hover {
    background: rgba(0, 0, 0, .1);

    .bankcard__name {
      display: none;
    }
    .bankcard__btn {
      display: block;
    }
  }
}
.v2-form-ctt{
  padding: 6px;
  box-sizing: border-box;
}

/**
 * 网银项目页面自定义样式(修改已有样式)
 */

// .shortcuts--group-col {
//   border: 1px solid #ccc;
//   width: 100px;
//   padding-top: 10px;
//   border-radius: 5px;
// }


.bankcards-wrap {
  // background: #ff0000;
}
