// body {
//   margin: 0;
//   padding: 0;
// }

// // 'v2left'|'v2mid'|'v2right','v2top'|'v2center'|'v2bottom'
// .must-input {
//   color: #f56c6c;
//   margin-right: 4px;
// }

// .v2left {
//   float: left;
// }

// .v2mid {
//   margin-right: auto;
//   text-align: center;
//   left: 0;
//   right: 0;
//   /* width: 100%; */
// }

// .v2right {
//   float: right;
//   right: 0;
// }

// .v2top {
// }

// .v2center {
//   top: 50%;
//   transform: translateY(-50%);
//   /* display: block; */
//   position: relative;
// }

// .v2bottom {
//   position: absolute !important;
//   bottom: 0;
// }

// .v2-form-ctt.V2Widget {
//   // margin: 10px;
// }

// .V2Widget {
//   // height: 100%;
// }

* {
  font-size: 12px;
}

.clearfix {
  zoom: 1;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * 网银项目全局公共样式
 */

#app .aweb-container {

    // .V2ContainerBlock .el-col {
    //   // margin: 5px;
    //   // // border: 1px solid #7EABFA;
    //   // border: 1px solid #A4C6FF;
    //   // border-radius: 5px;
    // }

    // // , 'grid__wrap' gridWrapClass
    // .grid__wrap {
    //   margin: 0 10px 20px;
    //   // border: 1px solid #7EABFA;
    //   border: 1px solid #a4c6ff;
    //   border-radius: 5px;
    // }

  .aweb-main {
    padding: 20px 30px;
  }

  // // 对组件样式的调整
  // .tabs-handlebar {
  //   .el-tabs__nav {
  //     margin-left: 15px;
  //   }

  //   .el-tabs__header {
  //     margin-bottom: 0;
  //   }
  // }
}

// /**
//  * 网银项目自定义组件样式
//  * 命名规则采用 BEM(block__element--modifier)
//  */

// // 图标快捷键
// .shortcut {
//   margin: 8px 0;
//   height: 60px;
//   text-align: center;

//   .shortcut__icon {
//     position: relative;
//     top: 10px;
//     font-size: 28px;
//     color: #455ecb;
//   }
//   .shortcut__text {
//     font-size: 12px;
//   }
// }

// // 段落
// .article {
//   .article__header {
//     line-height: 30px;
//     font-size: 12px;
//     font-weight: bold;
//   }
//   .article__content {
//     font-size: 12px;
//   }
// }

// // 银行卡
// .bankcard {
// }
// .bankcard--type-01 {
//   position: relative;
//   padding: 10px;
//   width: 250px;
//   height: 185px !important;
//   border-radius: 10px;
//   text-align: center;

//   .bankcard__img {
//     height: 100%;
//     border-radius: 10px;
//     // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
//     overflow: hidden;
//   }
//   .bankcard__figure {
//     position: absolute;
//     left: 0;
//     margin-top: 25px;
//     margin-left: -120px;
//     padding: 10px;
//     height: 40px;
//     line-height: 20px;
//     width: 150px;
//     background: rgba(0, 0, 0, 0.2);
//     border-radius: 25px;
//     font-size: 13px;
//     color: #fff;

//     .text-value-row i,
//     .text-value-row span {
//       flex: 2;
//     }
//     .text-value-row i,
//     .text-value-row p {
//       flex: 3;
//     }

//     .bankcard__figure_opr i {
//       line-height: 40px;
//     }

//     &.unfold {
//       animation: unfold 0.3s forwards;
//     }
//   }
//   @keyframes unfold {
//     from {
//       left: 0;
//       margin-left: -120px;
//     }
//     to {
//       left: 50%;
//       margin-left: -85px;
//     }
//   }
//   .bankcard__cardid {
//     font-size: 18px;
//     color: #fff;
//     text-shadow: 1px -1px 3px #333;
//   }
//   .bankcard__name {
//     // text-align: center;
//     line-height: 50px;
//   }
//   .bankcard__btn {
//     display: none;
//     // background: #00ff00;
//     // text-align: center;
//     padding: 5px 8px;
//   }
//   .bankcard__infos {
//     width: 260px;
//     margin: 10px;
//     overflow: hidden;
//   }

//   &:hover {
//     background: rgba(0, 0, 0, 0.1);

//     .bankcard__name {
//       display: none;
//     }
//     .bankcard__btn {
//       display: block;
//     }
//   }
// }
// .v2-form-ctt {
//   padding: 6px;
//   box-sizing: border-box;
// }

// // 修改密码
// .pwd-change {
//   background: #f2f9ff;
//   // border: 1px solid #9fd6ff;
//   font-size: 14px;

//   .text-value-row {
//     i,
//     span,
//     p {
//       flex: none;
//     }
//   }

//   .pwd-change__title {
//     line-height: 30px;
//     background: #fff;
//     // border-bottom: 2px solid #9fd6ff;
//     border: 1px solid #9fd6ff;

//     i {
//       width: 30px;
//       line-height: 30px;
//     }
//   }
//   .pwd-change__form {
//     height: 202px;
//     border: 1px solid #9fd6ff;
//   }
//   .pwd-change__curCard {
//     line-height: 50px;
//     // border-bottom: 1px solid #9fd6ff;

//     span {
//       padding-right: 12px;
//       width: 30%;
//       box-sizing: border-box;
//       border-right: 1px solid #9fd6ff;
//       text-align: right;
//     }
//     p {
//       padding-left: 12px;
//     }
//   }
//   .pwd-change__input {
//     height: 50px;
//     line-height: 50px;
//     border-top: 1px solid #9fd6ff;
//     padding: 0;

//     label {
//       height: 50px;
//       line-height: 50px;
//       border-right: 1px solid #9fd6ff;
//     }
//     .form-input-ctn {
//       padding-left: 12px;
//       height: 50px;
//       line-height: 50px;
//     }
//     .el-input {
//       text-align: left;
//     }
//     .el-input__inner {
//       width: 150px;
//       height: 30px;
//     }
//   }
//   .pwd-change__btn {
//     margin-top: 13px;
//     margin-left: calc(30% + 12px);
//   }
// }

// /**
//  * 网银项目页面自定义样式(修改已有样式)
//  */

// // .page__* {
// //   width: 90%;
// //   background: #000;
// // }

// // ########## 主页 index ##########
// .page__index {
//   .V2ContainerBlock .el-col {
//     // margin: 1%;
//     // // border: 1px solid #7EABFA;
//     // border: 1px solid #A4C6FF;
//     // border-radius: 5px;
//   }

//   .grid__wrap {
//     height: 280px;
//     overflow: hidden;
//   }

//   .V2Widget.aweb4-calendar {
//     height: 280px;
//     overflow: hidden;
//     margin: 0 10px 20px;
//     // border: 1px solid #7EABFA;
//     border: 1px solid #a4c6ff;
//     border-radius: 5px;
//     font-size: 12px;
//     font-weight: bold;
//   }
//   .aweb4-calendar .weekdays {
//     padding: 0;
//   }
//   .aweb4-calendar .days > li {
//     margin: 0;
//   }
//   .aweb4-calendar .days > li > div {
//     height: 40px;
//     padding: 0;
//   }
// }

// // ########## 交易查询 queryTransaction ##########
// .page__query-transaction {
//   .block__one {
//     height: 50px;
//     line-height: 50px;

//     .el-select .el-input {
//       width: 240px;
//     }
//   }
//   .block__two {
//     line-height: 50px;
//   }
//   .block__three {}
//   .block__four {}
// }

// // ########## 密码管理 pwdManager ##########
// .page__pwd-manager {
//   // select: ['pwd-manager__select'],
//   .pwd-manager__select {
//     height: 50px;
//     line-height: 50px;
//     background: #f2f9ff;
//     border: 1px solid #9fd6ff;
//     // margin-bottom: 20px;

//     .el-select .el-input {
//       width: 240px;
//     }
//   }
//   // note : ['article', 'pwd-manager__note']
//   .pwd-manager__note {
//     padding: 10px 20px 30px;
//     background: #fbfffa;
//     border: 1px solid #97e490;
//   }
// }

// // ########## 页面 page ##########
