// ########## 页面 index ##########
[class*="eb-index__"] {
  .eb-shortcut {
    padding: 15px;
  }
}
.eb-index__shortcuts {
  padding: 10px 0;

  .eb-shortcut:not(:last-child) {
    border-bottom: 1px solid #c2d5eb;
  }
}
.eb-index__bankcards {
  .eb-index__bankcards-ctt {
    padding: 0 15px;
  }
}


.eb-index__favorites,
.eb-index__recommendNotice,
.eb-index__calendar {
  height: 296px;
}

.eb-index__favorites {
  .eb-index__favorites-ctn {
    padding: 14px 5px;
  }
  .eb-shortcut {
    width: 25%;
  }
}
.eb-index__recommendNotice {

  .el-carousel {
    .el-carousel__container {
      height: 180px;
    }
    img {
      width: 100%;
      height: 180px;
    }
  }
  .el-carousel--horizontal {
    padding: 9px 15px;
  }

  .eb-shortcut {
    width: 50%;

    .eb-shortcut__icon .eb-shortcut__icon-icon {
      color: #ef6819;
    }

    .eb-shortcut__bot {
      line-height: 22px;
      float: left;
      margin-left: 10px;
    }
  }


}
.eb-index__calendar {
  .eb-calendar .el-tabs__header {
    background: #f4f6fc;
  }

  .eb-calendar .el-tabs__nav-wrap::after {
    height: 1px;
    background-color: #c2d5eb;
  }
}

// ########## 页面 transfer ##########

.eb-transfer__main {
  padding-top: 30px;
  // padding: 15px 500px 0 300px;

  > .V2Container {
    width: 600px;
    margin: 0 auto;
  }

  .eb-transfer__transInfo {
    margin-left: 50px;

    .eb-transfer__transInfo-left {
      width: 80px;
    }

    .eb-transfer__transInfo-right {
      padding-left: 30px;
    }
    
    i.el-icon-arrow-right{
      font-size: 80px;
      /* height: 100%; */
      color: rgb(255, 255, 255);
      animation-duration: 1s;
      background: #c2d5eb;
      line-height: 160px;
    }

    .receive-name,
    .receive-money {
      margin-right: 8px;
      font-size: 20px;
    }

  }
}



// ########## 页面 XXXXX ##########

