<html>

<head>
  <!--css-->
  <link rel="stylesheet" type="text/css" href="./common.css" />
  <link rel="stylesheet" type="text/css" href="../css/theme.css" />
  <link rel="stylesheet" type="text/css" href="./ide_icon/iconfont.css" />
  <link rel="stylesheet" type="text/css" href="./animate.min.css">
  <script>
    function getUrlParam(name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
      var r = window.location.search.substr(1).match(reg); //匹配目标参数
      if (r != null) return unescape(r[2]);
      return null; //返回参数值
    }
    window.dispose = () => {
      window.vueRoot.$destroy();
    }
    window.onload = () => {
      window.$ = window.parent.$;
      window.jQuery = window.parent.jQuery;
      window.Vue = window.parent.Vue;
      window.Vuex = window.parent.Vuex;
      window.parent.THREE = window.THREE;

      var id = getUrlParam("id");
      var parent = window.parent.__dataPool[id];


      window.vueRoot = new Vue({
        store: parent.$store,
        mixins: [window.parent.mixins],
        template: `
          <div style="display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background:lightgray;
    ">
        <div style="width:100%;height:100%;background:white;">
            <v2EditorXYCtn ref="editor" v-model="rootId"  style="width:100%;height:100%;"></v2EditorXYCtn>
            <div
            v-show="showCustomEditor" class="V2CustomEditor switchable-ctn-editor"
            style="position:fixed;background:white;width:100%;height:100%;left:0;top:0;z-index:1000;"
            >
              <div class="switchable-ctn-editor-toolbar">
                <el-breadcrumb separator="/">
                  <el-breadcrumb-item v-for="l in label" :key="l.id">{{l.label}}</el-breadcrumb-item>
                </el-breadcrumb>
              
              </div>
              <div ref="customEditorArea" ></div>
            </div>
            <contextmenu
              ref="ide_contextMenu"
              style="display: none;position: absolute;z-index:19999"
              id="contextMenu"
              :items="[]"
              :config="{}">
            </contextmenu></div>
          </div>
          `,
        data() {
          return {
            showCustomEditor: false,
            styleUpdated: false,
            loadIframe:false
          }
        },
        watch: {
          style(curval, oldval) {
            this.loadedStyle();
            //console.log(`最新值${curval}--旧值${oldval}`);
          },
          display() {
            $(document.body)
              .scrollTop(0)
              .scrollLeft(0);
          }
        },
        computed: { //同步了store中state内的orderid值
          style() {
            return this.$store.state.runtime.style;
          },
          display() {
            return this.$store.getters.editorStyle;
          },
          label() {
            let ret = [];
            if (this.showCustomEditor && !this.loadIframe) {
              const widgetStack = [];

              let wid = this.customEditor.wid;

              while (wid) {
                const widget = this.$store.getters.model(wid);

                if (widget && widget.id) {
                  const config = this.$store.getters.widget[widget.component];
                  widgetStack.push({
                    id: widget.id,
                    component: widget.component,
                    label: config && config.name || widget.id
                  });
                }
                wid = widget && widget.pid;
              }

              ret = widgetStack.reverse().filter(w => w.component !== 'v2-layout-colctn' && w.component !==
                'v2-layout-rowctn');
            }
            console.log(ret);
            return ret;
          }
        },
        mounted() {
          //TODO 以下内容是为了支撑iframe的键盘鼠标事件，考虑移动到一个特定js文件
          //绑定键盘
          if (!this.style) {
            this.loadStyle();
          } else {
            this.loadedStyle();
          }


          $(window)
            .off(".keymap")
            .on("keydown.keymap", e => {
              return this.activeTool && this.activeTool.dispatchKeyEvent ?
                this.activeTool.dispatchKeyEvent(this, e) :
                true;
            });

          $(window)
            .on("keyup.keymap", e => {
              return this.activeTool && this.activeTool.dispatchKeyUpEvent ?
                this.activeTool.dispatchKeyUpEvent(this, e) :
                true;
            });

          // $(window)
          //   .on("mousewheel.mousemap", e => {
          //     return this.activeTool && this.activeTool.mouseWheelEvent ?
          //       this.activeTool.mouseWheelEvent(this, e) :
          //       true;
          //   });
          let self = this;
          window.addEventListener("mousewheel", e => {
            if (e.ctrlKey) {
              e.preventDefault();
              return self.activeTool && self.activeTool.mouseWheelEvent ?
                self.activeTool.mouseWheelEvent(self, e) :
                true;
            }
          }, {
            passive: false
          });

          this.initImgDrog();

        },
        methods: {
          openCustomEditor(widget) {
            let Comp = Vue.component(widget.model.customEditor);
            let comp = new Comp();

            let area = $(this.$refs.customEditorArea);
            console.log(this.$refs.customEditorArea);

            let content = $('<div></div>')
            area.append(content);
            comp.$store = widget.$store;
            comp.wid = widget.wid;
            comp.$mount(content[0]);
            this.customEditor = comp;

            this.showCustomEditor = true;
          },
          openCustomIframeEditor(iframeSrc,widget,callback) {
         
         let area = $(this.$refs.customEditorArea);
         console.log(this.$refs.customEditorArea);
          this.customEditor = widget;
         let content = $(`<div><iframe style="width:100%;height:100%" src="${iframeSrc}"></iframe></div>`)
         area.append(content);
         callback && callback(content);

         this.loadIframe = true;
         this.showCustomEditor = true;
         },
          closeCustomEditor() {
            if (this.customEditor && !this.loadIframe){
              this.customEditor.$destroy();
            }
            
            let area = $(this.$refs.customEditorArea);
            area.empty();
            
            this.showCustomEditor = false;
          },
          loadStyle() {
            parent.$store.commit('loading', true)
          },
          loadedStyle() {
            if (!this.styleUpdated) {
              this.styleUpdated = true;
              $('head', window.document).append(this.style);

              parent.$store.commit('loading', false);
            }

          },
          initImgDrog() {
            let self = this;
            let $domWindow = $(window)[0];
            let editor = self.$store.state.UIData.editor;
            let file = null;
            let imgJson = {
              children: [],
              component: "v2-component-image",
              commonStyle: {
                "position":"",
                "top":"",
                "right":"",
                "left":"",
                "bottom":"",
                "width":"",
                "height":"",
                "padding-top": "",
                "padding-bottom": "",
                "padding-left": "",
                "padding-right": "",
                "margin-top": "",
                "margin-bottom": "",
                "margin-left": "",
                "margin-right": "",
                "font-size":"",
                "color":"",
                "animation-duration":'1s',
                "animation-delay":''  
              },
              cptpath: undefined,
              ctnClass: "",
              customClass: "",
              customEditor: undefined,
              events: {},
              href: "v2-component-image",
              src: "",
              fixation:false,
              style: {}, 
              __capacity: "1",
              __loopTarget: "",
              __type: "",
              hidden: undefined,
              icon: "iconkapian",
              name: "图片",
              type: "component"
            };


            parent.$el.addEventListener('dragenter', e => {
         
              if ((e && e.dataTransfer.types && e.dataTransfer.types[0] === 'Files' )||(e && e.dataTransfer.types && e.dataTransfer.types[3] === 'v2imgsrc')) {
               
                editor.startCreateElement({
                  element: imgJson,
                  desp: undefined,
                  hidden: undefined,
                  icon: "iconkapian",
                  name: "图片",
                  type: "component"
                }, null, false);
              }
            })


            parent.$el.addEventListener('drop', event => {
              event.stopPropagation();
              event.preventDefault();
            });
         

            $domWindow.addEventListener('dragover', event => {
              event.stopPropagation();
              event.preventDefault();
            }, false);

            parent.$el.addEventListener('dragover', event => {
              event.stopPropagation();
              event.preventDefault();
            }, false);

            $domWindow.addEventListener('dragenter', event => {
              event.stopPropagation();
              event.preventDefault();
            }, false);


            $domWindow.addEventListener('drop', event => {
              event.stopPropagation();
              event.preventDefault();
              // $(this.$refs.editor.$el).trigger('mouseup');
          
              if(event.dataTransfer.getData("v2ImgSrc")){

                  let src = event.dataTransfer.getData("v2ImgSrc");
                  let tImgW = event.dataTransfer.getData("v2ImgWidth");
                  let tImgH = event.dataTransfer.getData("v2ImgHeight")
                   self.$refs.editor.$performRequest('applyCreate', {
                        adImgDrog: true,
                        afterCreate: model => {
                          model.src = `img/${src}`;
                          if (!model.commonStyle) self.$set(model,'commonStyle',{})
                          self.$set(model.commonStyle,'position','absolute')
                          self.$set(model.commonStyle,'width',tImgW+'px')
                          self.$set(model.commonStyle,'height',tImgH+'px')
                          self.$set(model.commonStyle,'top',event.offsetY - (tImgW / 2))
                          self.$set(model.commonStyle,'left',event.offsetX - (tImgH / 2))
                        }
                      });
            
              }else if ((event && event.dataTransfer && event.dataTransfer.files && event.dataTransfer.files
                .length)) {
                let data = event.dataTransfer.files[0];
                let name = data.name;
                let type = data.type;
                let reader = new FileReader();
              
                if (!type.startsWith("image")) {
                  alert("只支持上传图片");
                  return null;
                }
             
                reader.readAsDataURL(data);
                reader.onload = e => {
                  var tImg = new Image();
                  tImg.src = e.target.result;
                  self
                    .apis("/v1/page/upload", {
                      params: {
                        name: name,
                        event: e,
                        type: type,
                        result: e.target.result
                      }
                    })
                    .then(res => {
                      console.log("成功上传至" + res.path);
                      self.$refs.editor.$performRequest('applyCreate', {
                        adImgDrog: true,
                        afterCreate: model => {
                          console.log('width,hight',tImg.naturalWidth,tImg.naturalHeight);
                          model.src = `img/${name}`;  
                          if (!model.commonStyle) self.$set(model,'commonStyle',{})
                          self.$set(model.commonStyle,'position','absolute')
                          self.$set(model.commonStyle,'width',tImg.naturalWidth+'px')
                          self.$set(model.commonStyle,'height',tImg.naturalHeight+'px')
                          self.$set(model.commonStyle,'top',event.offsetY - (tImg.naturalWidth / 2))
                          self.$set(model.commonStyle,'left',event.offsetX - (tImg.naturalHeight / 2))
                        
                        }
                      });
                    })
                    .catch(rej => {
                      console.log("上传失败:" + rej);
                    });

                };
              }
            }, false)
          }
        }
      });
      vueRoot.$mount(document.body.children[0]);
    }

  </script>
</head>

<body style="box-sizing: border-box;">
  <div></div>

  <script src="../js/three.js"></script> 
  <script src="../js/OrbitControls.js"></script> 
</body>

</html>
